.NavBar {
  top: 0px;
  width: 100%;
  background-color: blue;
  height: 50px;
  position: fixed;
}

.NavBar a {
 font-size: 25px;
 color: lightblue;
}

.NavBar li{
  display: inline;
  margin: 15px;
  color: grey;
}

h1 {
  padding: 15px;
  margin: 50px;
  color: lightgray;
  background-color: grey;
}